body {
  margin: 0;
  font-family: "Cinzel", serif;

  background: url("../imgs/fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CAIXA */
.container {
  max-width: 500px;
  width: 90%;
  padding: 40px;

  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;

  box-shadow:
    0 0 30px rgba(0, 0, 0, 0.9),
    inset 0 0 10px rgba(255, 255, 255, 0.05);

  text-align: center;
}

/* TÍTULO */
h1 {
  font-size: 50px;
  color: #d4af37;
  letter-spacing: 4px;

  text-shadow:
    0 0 10px black,
    0 0 20px black;
}

/* SUB */
.intro {
  margin-bottom: 30px;
  color: #ccc;
}

/* INPUTS */
.formulario input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;

  border: none;
  border-radius: 5px;

  background: rgba(0, 0, 0, 0.8);
  color: white;

  border: 1px solid #444;
}

/* BOTÃO (MESMO ESTILO) */
.btn {
  width: 100%;
  margin-top: 15px;
  padding: 15px;

  border-radius: 4px;
  cursor: pointer;

  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;

  border: 2px solid rgba(255, 255, 255, 0.2);

  box-shadow:
    inset 0 0 10px rgba(0, 0, 0, 0.9),
    0 5px 15px rgba(0, 0, 0, 0.9);

  text-transform: uppercase;
}

/* LOGIN */
.login {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    linear-gradient(145deg, #7a1c1c, #c0392b);

  color: #e0c36e;
  border: 2px solid #b35a3c;
}

.login:hover {
  transform: scale(1.05);

  box-shadow:
    inset 0 0 15px rgba(0, 0, 0, 1),
    0 0 20px #ff4d4d;
}

/* VOLTAR */
.voltar {
  margin-top: 20px;
  color: #aaa;
  cursor: pointer;
}

.voltar:hover {
  color: #fff;
}
